In [1]:
# start code block for mysql-python connectivity for firstdatabase
import mysql.connector

db = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password",
database = "firstdatabase"
)

mycursor = db.cursor()

In [2]:
mycursor.execute("CREATE TABLE computershop (id INT PRIMARY KEY NOT NULL, manufacturername  VARCHAR(255) NOT NULL, computername VARCHAR(255) NOT NULL)")

In [3]:
mycursor.execute("DESC computershop")
for i in mycursor: print(i)

In [11]:
mycursor.execute("SHOW TABLES")
for j in mycursor: print(j)

('computershop',)

In [7]:
# single entry to table
mycursor.execute("INSERT INTO computershop(id, manufacturername, computername) VALUES (%s,%s,%s)", (101,"Apple", "MacBook Pro"))
db.commit()

In [14]:
mycursor.execute("SELECT * FROM computershop")
for k in mycursor: print(k)

(101, 'Apple', 'MacBook Pro')
(105, 'Del2', 'Inspiron2')
(106, 'HP2', 'Pavilion2')
(107, 'HP2', 'Omen2')

In [12]:
# multiple entry to table
query = "INSERT INTO computershop(id, manufacturername, computername) VALUES (%s,%s,%s)"
values = [(105,"Del2", "Inspiron2"),(106,"HP2", "Pavilion2"),(107,"HP2", "Omen2")]
mycursor.executemany(query,values)
db.commit()
for l in mycursor: print(l)