In [1]:
# start code block for mysql-python connectivity for firstdatabase
import mysql.connector

db = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password",
database = "firstdatabase"
)

mycursor = db.cursor()

In [2]:
mycursor.execute("CREATE TABLE computershop (id INT PRIMARY KEY NOT NULL, manufacturername  VARCHAR(255) NOT NULL, computername VARCHAR(255) NOT NULL)")

In [3]:
mycursor.execute("DESC computershop")

In [5]:
mycursor.execute("SHOW TABLES")

In [6]:
for i in mycursor: print(i)

('computershop',)