In [15]:
# start code block for mysql-python connectivity for firstdatabase
import mysql.connector

db = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password",
database = "firstdatabase"
)

mycursor = db.cursor()

In [2]:
mycursor.execute("CREATE TABLE computershop (id INT PRIMARY KEY NOT NULL, manufacturername  VARCHAR(255) NOT NULL, computername VARCHAR(255) NOT NULL)")

In [3]:
mycursor.execute("DESC computershop")
for i in mycursor: print(i)

In [11]:
mycursor.execute("SHOW TABLES")
for j in mycursor: print(j)

('computershop',)

In [7]:
# single entry to table
mycursor.execute("INSERT INTO computershop(id, manufacturername, computername) VALUES (%s,%s,%s)", (101,"Apple", "MacBook Pro"))
db.commit()

In [12]:
# multiple entry to table
query = "INSERT INTO computershop(id, manufacturername, computername) VALUES (%s,%s,%s)"
values = [(105,"Del2", "Inspiron2"),(106,"HP2", "Pavilion2"),(107,"HP2", "Omen2")]
mycursor.executemany(query,values)
db.commit()
for l in mycursor: print(l)

In [21]:
mycursor.execute("SELECT * FROM computershop")
for k in mycursor: print(k)
print('This table has : ', mycursor.rowcount, 'rows.')

(101, 'Apple', 'MacBook Pro')
(105, 'Del2', 'Inspiron2')
(106, 'HP2', 'Pavilion2')
(107, 'HP2', 'Omen2')
This table has :  4 rows.

In [3]:
# multi line output stored into a variable 
mycursor.execute("SELECT * FROM computershop")
# store the output in a variable
result = mycursor.fetchall() 
# log the output stored in the variable 
for l in result: print(l)

(101, 'Apple', 'MacBook Pro')
(105, 'Del2', 'Inspiron2')
(106, 'HP2', 'Pavilion2')
(107, 'HP2', 'Omen2')

In [4]:
#single line output stored into a variable 
mycursor.execute("SELECT * FROM computershop")
result = mycursor.fetchone()

for m in result: print(m)

101
Apple
MacBook Pro

In [29]:
mycursor.execute("SHOW TABLES")
for data in mycursor: print(data)
mycursor.execute("SELECT * FROM computershop WHERE id = 105")
for data in mycursor: print(data)

('computershop',)
(105, 'Del2', 'Inspiron2')

In [35]:
# start code block for mysql-python connectivity for firstdatabase
import mysql.connector

db = mysql.connector.connect(
host = "localhost",
user = "root",
password = "password",
database = "northwind"
)

mycursor = db.cursor()

In [44]:
query = "SELECT * FROM orders WHERE orderid LIKE '%1024%'"
mycursor.execute(query)
result = mycursor.fetchall()
for k in result: print(k)

(10248, 'VINET', 5, datetime.datetime(1996, 7, 4, 0, 0), datetime.datetime(1996, 8, 1, 0, 0), datetime.datetime(1996, 7, 16, 0, 0), 3, Decimal('32.3800'), 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France')
(10249, 'TOMSP', 6, datetime.datetime(1996, 7, 5, 0, 0), datetime.datetime(1996, 8, 16, 0, 0), datetime.datetime(1996, 7, 10, 0, 0), 1, Decimal('11.6100'), 'Toms Spezialitten', 'Luisenstr. 48', 'Mnster', None, '44087', 'Germany')
(11024, 'EASTC', 4, datetime.datetime(1998, 4, 15, 0, 0), datetime.datetime(1998, 5, 13, 0, 0), datetime.datetime(1998, 4, 20, 0, 0), 1, Decimal('74.3600'), 'Eastern Connection', '35 King George', 'London', None, 'WX3 6FW', 'UK')

In [42]:
query = "SELECT firstname, title FROM employees WHERE title LIKE '%Representative%'"
mycursor.execute(query)
result = mycursor.fetchall()
for k in result: print(k)

('Nancy', 'Sales Representative')
('Janet', 'Sales Representative')
('Margaret', 'Sales Representative')
('Michael', 'Sales Representative')
('Robert', 'Sales Representative')
('Anne', 'Sales Representative')
('Doze', 'Sales Representative')